.MuiBox-root {
    height: 90vh;
}

.left-panel {
    display: flex;
    height: auto;
    width: auto;
    flex: 1;
    flex-direction: column;
}

.left-panel-contents {
    height: 95%;
    width: 100%
}

.map-container {
    display: flex;
    flex: 3;
    height: auto;
    width: auto;
    padding: 2%;
}

.map-itself {
    height: 100%;
    width: 100%;
}

.directions-container {
    flex: 1;
    display: flex;
    overflow-y: scroll;
    height: auto;
    width: auto;
}

.directions {
    height: 100%;
    width: 100%
}

.fittedBox {
    height: auto;
}